<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div class="modal fade" id="modal-xl" th:fragment="fm-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin mặt hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-product">
                <div class="modal-body">
                    <div class="col-lg-6 float-right">
                        <div class="text-center profile-pic-div">
                            <img src="https://scontent.fsgn13-1.fna.fbcdn.net/v/t39.30808-6/238112761_1210485386091932_2892206138907628724_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=x3p78c9gUWQAX_NUpjl&_nc_ht=scontent.fsgn13-1.fna&oh=00_AT_VLvvm2jdudrw21Ce952pvuIWAUI2ZA9XCfEX_jC0kwg&oe=621C114B"
                                 class="img-circle elevation-2" alt="User Image" id="photo">
                            <input type="file" id="file" required>
                            <label for="file" id="uploadBtn">Chọn hình ảnh</label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <label for="ma-mat-hang">Mã mặt hàng</label>
                        <input id="ma-mat-hang" type="text" class="form-control" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="ten-mat-hang">Tên mặt hàng</label>
                        <input id="ten-mat-hang" type="text" class="form-control" placeholder="VD: Bánh mì" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="mo-ta-mat-hang">Mô tả</label>
                        <input id="mo-ta-mat-hang" type="text" class="form-control" placeholder="VD: Bánh mì kẹp thịt heo quay, dưa leo" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="don-vi-tinh">Đơn vị tính</label>
                        <input id="don-vi-tinh" type="text" class="form-control" placeholder="VD: ổ" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="don-gia-mat-hang">Đơn giá</label>
                        <input id="don-gia-mat-hang" type="text" class="form-control" placeholder="VD: 15000" required>
                    </div>
                    <div class="col-lg-6">
                        <label for="op-loaimh">Loại mặt hàng</label>
                        <select name="" id="op-loaimh" class="form-control" required></select>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btn-luu-mat-hang" type="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</body>
</html>