<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal fade" id="modal-xl" th:fragment="fm-modal-order">
    <div class="modal-dialog modal-xl-order">
        <form id="create-update-order">
            <div class="modal-content">
                <div class="overlay" id="loading-event-order"><i class="fas fa-3x fa-sync-alt fa-spin"></i>
                    <div class="text-bold pt-2"></div>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Thông đơn đặt hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="col-lg-12">
                        <label for="ma-don-dat-hang">Mã đơn đặt hàng</label>
                        <input id="ma-don-dat-hang" type="text" class="form-control" readonly>
                    </div>
                    <div class="col-lg-12">
                        <label for="ngay-dat-hang">Ngày đặt hàng</label>
                        <input id="ngay-dat-hang" type="date" class="form-control"
                               readonly>
                    </div>
                    <div class="col-lg-12">
                        <label for="trang-thai">Trạng thái</label>
                        <input id="trang-thai" type="text" class="form-control"
                               required>
                    </div>
                    <div class="col-lg-12">
                        <label for="dia-chi-giao-hang">Địa chỉ giao hàng</label>
                        <input id="dia-chi-giao-hang" type="text" class="form-control"
                               required>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button id="btn-luu-don-dat-hang" type="submit" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>
</html>