<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment-header :: fm-head"></head>

<head><title>Quản lý giới thiệu</title></head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <header th:replace="fragment-header :: fm-header"></header>
    <aside th:replace="fragment-leftmenu :: fm-leftmenu"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="pl-4 pt-4">
                        <button id="add-btn" class="btn bg-gradient-info mr-2" data-toggle="modal"
                                data-target="#modal-xl">
                            <i class="fas fa-plus"></i>
                            <span class="pl-2">Thêm</span>
                        </button>
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->

<div th:replace="fragment-modal-introduce :: fm-modal-introduce"></div>
<div th:replace="fragment-modal-notification :: fm-modal-notification"></div>
<div th:replace="fragment-header :: fm-script"></div>

<!-- CRUD Introduce -->
<script src="../../js/crud-introduce.js"></script>

</body>

</html>