<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment-header :: fm-head"></head>

<head><title>Quản lý đơn đặt hàng</title></head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <header th:replace="fragment-header :: fm-header"></header>
    <aside th:replace="fragment-leftmenu :: fm-leftmenu"></aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
<!--                            <div class="col-sm-2 pb-2">-->
<!--                                <button id="add-btn-order" class="btn bg-gradient-info mr-2" data-toggle="modal"-->
<!--                                        data-target="#modal-xl">-->
<!--                                    <i class="fas fa-plus"></i>-->
<!--                                    <span class="pl-2">Lập hóa đơn</span>-->
<!--                                </button>-->
<!--                            </div>-->
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Mã đơn</th>
                                        <th>Số điện thoại</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày đặt hàng</th>
                                        <th>Trạng thái</th>
                                        <th>Hình thức</th>
                                        <th>Tổng tiền</th>
                                        <th>Địa chỉ giao hàng</th>
                                        <th>Sửa</th>
                                        <th>Xóa</th>
                                        <th>In</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th colspan="4">Lọc theo trạng thái và hình thức</th>
                                        <th>Trạng thái</th>
                                        <th>Hình thức</th>
                                        <th colspan="5">(Có thể lọc cả 2)</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->


<div th:replace="fragment-modal-order :: fm-modal-order"></div>
<div th:replace="fragment-modal-notification :: fm-modal-notification"></div>
<div th:replace="fragment-header :: fm-script"></div>
<script src="../../js/crud-order.js"></script>
</body>
</html>