<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment-header :: fm-head"></head>

<head><title>Quản lý mặt hàng</title></head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <header th:replace="fragment-header :: fm-header"></header>
    <aside th:replace="fragment-leftmenu :: fm-leftmenu"></aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <div class="float-right" style="margin-top: 31px">
                                <button id="add-btn" class="btn bg-gradient-info mr-2" data-toggle="modal"
                                        data-target="#modal-xl">
                                    <i class="fas fa-plus"></i>
                                    <span class="pl-2">Thêm mặt hàng</span>
                                </button>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label><b>Loại mặt hàng</b></label>
                                    <select class="form-control select2" id="select-lmh">
                                        <option value="">Tất cả</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Mã mặt hàng</th>
                                        <th>Hình ảnh</th>
                                        <th>Tên</th>
                                        <th>Mô tả</th>
                                        <th>Đơn vị tính</th>
                                        <th>Đơn giá</th>
                                        <th>Loại mặt hàng</th>
                                        <th>Sửa</th>
                                        <th>Xóa</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->

<div th:replace="fragment-modal :: fm-modal"></div>
<div th:replace="fragment-modal :: fm-modal-notification"></div>
<div th:replace="fragment-header :: fm-script"></div>

<!-- CRUD mặt hàng -->
<script src="../../js/crud-product.js"></script>
</body>

</html>